h1>a{
	font-size:5rem;
	display:block;
	text-align:center;
	font-weight:bold;
	color:black;
	text-decoration:none;
}
section{
	display:block;
	text-align:center;
}
section>nav>a{
	display:inline-block;
	text-align:center;
	font-weight:bold;
	color:black;
	transition:0.5s;
	text-decoration:none;
	width:120px;
}
nav{
	display:inline-block;
	text-align:center;
	font-weight:bold;
	color:black;
	transition:0.5s;
	text-decoration:none;
}
section>nav>a:hover{
	color:red;
	transition:0.5s;
	font-weight:bold;
}